@using Cinema.Models
@model Cinema.Models.Domain.TimeSlot

@section SubNav
{
    @Html.Partial("SubNavigation", SubNavigationMenu.Timeslots)
}

<h2>Add Timeslot</h2>

@using (Html.BeginForm("AddTimeslot", "Admin"))
{
    <div class="mb-3">
        @Html.LabelFor(x => x.Format)
        @Html.EditorFor(x => x.Format, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Format)
    </div>

    <div class="mb-3">

        @Html.LabelFor(x => x.StartTime)
        <div class="input-group date" id="@Html.IdFor(x=>x.StartTime)">
            <input type="datetime-local" class="form-control" name="@Html.NameFor(x=>x.StartTime)" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(x => x.StartTime)
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.Cost)
        @Html.EditorFor(x => x.Cost, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Cost)
    </div>

    @Html.Partial("MoviesSelector", Model?.MovieId)
    @Html.Partial("HallsSelector", Model?.HallId)

    <input type="submit" value="Add timeslots" class="btn btn-success">
}

@section scripts{
    <script type="text/javascript">
        $('#@Html.IdFor(x=>x.StartTime)').datetimepicker({ locale: "ru" });
    </script>
}