@using Cinema.Models
@model Cinema.Models.Domain.TimeSlot

@section SubNav
{
    @Html.Partial("SubNavigation", SubNavigationMenu.Timeslots)
}

@using (Html.BeginForm("EditTimeslot", "Admin"))
{
    @Html.HiddenFor(x => x.Id)

    <div class="mb-3">
        @Html.LabelFor(x => x.Format)
        @Html.EditorFor(x => x.Format, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Format)
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.StartTime)
        @Html.EditorFor(x => x.StartTime, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.StartTime)
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.Cost)
        @Html.EditorFor(x => x.Cost, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Cost)
    </div>

    @Html.Partial("MoviesSelector", Model.MovieId)
    @Html.Partial("HallsSelector", Model.HallId)

    <input type="submit" value="Save changes">
}

